@model IEnumerable<FYP2.Models.Session>

@{
    ViewBag.Title = "Sessions";
}

<h2>Sessions</h2>

<p>
    @Html.ActionLink("New Session", "Create", "Sessions", null, new { @class = "btn btn-default" })


</p>
<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sessiondate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sessioncount)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sessiondate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sessioncount)
            </td>
            <td>
                @Html.ActionLink("PHQ9", "Edit", new { id = item.id }) |

                @Html.ActionLink("Edit", "Edit", new {id = item.id}) |
                @Html.ActionLink("Details", "Details", new {id = item.id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.id})
            </td>
        </tr>
    }

</table>
