@model IEnumerable<FYP2.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Manage bookings</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.starttime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endtimee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.starttime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endtimee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
        </td>
    </tr>
}

</table>
