@model PagedList.IPagedList<FYP2.Models.Client>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Students";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Add New Client", "Create", "Clients", null, new { @class = "btn btn-default" })
</p>

@using (Html.BeginForm("Index", "Clients", FormMethod.Get))

{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-striped table-hover ">
    <tr>

        <th>
            @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date of Birth", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Gender
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Email Address
        </th>
        <th>
            Nationality
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Address Line 1
        </th>
        <th>
            Address Line 2
        </th>
        <th>
            Postcode
        </th>
        <th>
            NHS Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateofbirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placeofbirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addressline1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addressline2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nhsnumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })

            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
